# day 10 of 69days python @everydayPython!

In [1]:
# dictionary method in python

student = {
    "name" : "sir",
    "age" : 21,
    "course" : "Python",
    "city" : "Ahmedabad"
}

print(student)

{'name': 'sir', 'age': 21, 'course': 'Python', 'city': 'Ahmedabad'}

In [4]:
# keys(), values(), items()

print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'city'])
dict_values(['sir', 21, 'Python', 'Ahmedabad'])
dict_items([('name', 'sir'), ('age', 21), ('course', 'Python'), ('city', 'Ahmedabad')])

In [ ]:
# update() method

student.update({"age" : 22})

student.update({"level" : "Benginner"}) # if new data not exit then they add new records

print(student)

{'name': 'sir', 'age': 22, 'course': 'Python', 'city': 'Ahmedabad', 'level': 'Benginner'}

In [9]:
# get() method (safe acces)

print(student.get("name"))
print(student.get("county", "Not found"))

sir
Not found

In [10]:
# pop() and popitem()

student.pop ("city")
print(student)

{'name': 'sir', 'age': 22, 'course': 'Python', 'level': 'Benginner'}

In [12]:
# clear() method

temp_dict = {"a" : 1, "b" : 2}
print(temp_dict)
temp_dict.clear()
print(temp_dict)

{'a': 1, 'b': 2}
{}

# nested dictionary

In [15]:
# nested dictionary
students = {
    "student1":{
        "name": "amit",
        "age" : 20
    },
    "student2": {
        "name" : "ravi",
        "age" : 22
    }
}

print(students)

{'student1': {'name': 'amit', 'age': 20}, 'student2': {'name': 'ravi', 'age': 22}}

In [17]:
# accrss nested dictionary

print(students["student1"] ["name"])
print(students["student2"]["age"])

amit
22

In [18]:
# loop through nested dictionary

for key,value in students.items():
    print(key,":",value)

student1 : {'name': 'amit', 'age': 20}
student2 : {'name': 'ravi', 'age': 22}

# End day 10 of 69 days of python